.navbar {
  background-color: #ffffff;
  border-color: #e5e7eb;
  padding: 10px 16px 10px 16px;
}

.navbar_links {
  display: block;
  padding: 8px 16px 12px 8px; /*top,right,bottom,left */
  color: #000000;
  background-color: transparent;
  border-radius: 4px;
}

.navbar_button {
  background-color: #ff5a1f;
  color: #ffffff;
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}

.flex_ic {
  display: flex;
  align-items: center;
}

/* INDEX.JSX */
/* use variable */
:root {
  --orange: #ff5a1f;
  --white: #ffffff;
}

.logo {
  height: 50px;
}

.bgcolor {
  /* background-color:#D3D3D3; */
  /* background-image: linear-gradient(grey, black); */
  background-image: linear-gradient(
    to right,
    rgba(47, 118, 146, 0.158),
    rgb(255, 255, 255)
  );
}

.hero_para {
  color: #be5b0a;
  font-weight: bolder;
  align-content: center;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
/* .imgsize{
    mix-blend-mode: multiply;

} */

.home-about
{
  width: 90%;
  margin: 40px auto 100px auto;
  text-align: left;
}

.home-about-image {
  height: 400px;
  margin-left: 100px;
  margin-bottom: 50px;
  float: left;
  width: 450px;
}
.home-margin-elements
{
  margin-left: 500px;
}

.home-about-heading {
  font-size: 30px;
  font-weight: 700;
  margin-left: 100px;
  
}

.home-about-para {
  width: 80%;
  margin-left: 100px;
  
}

.services_icons {
  font-size: 30px;
  color: var(--orange);
}

.fabone {
  display: inline;
  font-size: 20px;
  color: var(--orange);
}

.home-about-image {
  height: 400px;
  margin-left: 100px;
}

.slider {
  clear: both;
  object-fit: cover;
  height: 600px;
  width: 96% ;

}

.slider_para {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* color: white; */
}

/* ABOUT PAGE */

.about_main_img 
{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 98%;
  height: 500px;
  justify-self: center;
  align-self: center;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

.about_welcome 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about_main_heading 
{
  font-size: 50px;
  font-weight: bolder;
  color: rgb(248, 184, 88);
}

.about_main_quote
{
  font-size: 20px;
  font-weight: 600;
  color: rgb(250, 249, 247);
}

p {
  font-size: 16px;
  color: black;
  width: 90%;
  text-justify: inter-word;
  text-align: justify;
}

.card_main_div
{
  margin-top: 20px;
  border: 2px solid red;
  background-color: yellow;
  display:flex;
  /* width: fit-content; */
  width: 100%;
    height: max-content;
    gap: 100px;
    grid-template-columns: auto auto auto;
    /* margin-left: 5%;
    margin-right: 5%; */
    margin-bottom: 20px;
}

@media (max-width: 800px) {
  .card_main_div{
    grid-template-columns:100%;
    /* flex-direction: rows; */
  }
}

.about_cards
{
  background-color: green;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  /* background-color: #faf3eb; */
  height: 100px;
 
}

.ml-65{
  margin-top: 65px;
  padding-left: 50px;
  padding-right : 50px;
  margin-bottom: 65px;
}

.about_image_card {
  width: 200px;
  height: 200 px;
  aspect-ratio: 200/200;
  object-fit: cover;
  display: inline;
}
.about_image_card2 {
  margin-top: 2px;
  position: relative;
  float: initial;
  margin-left: 400px;
  padding-top: 5px;
  display: inline;
}


.about_cards{
 /* display: inline; */
 display:grid;
 /* flex-direction: row; */
 width: fit-content;
 height: max-content;
 gap: 20px;
 grid-template-columns: auto auto auto ;

 margin-left: 10%;
 margin-right: 10%;
 /* margin-right: 20px; */
 margin-bottom: 20px;
}

.card2 {
  margin-left: 400px;
  margin-top: 10px;
}

/* login page */

.login_image {
  object-fit: fill;
  height: 600px;
  width: 100%;
}

.login_input {
  width: 100%;
  padding: 16px 32px 16px 32px;
  border-radius: 8px;
  font-weight: 500;
  background-color: #f3f4f6;
  --tw-placeholder-opacity: 1;
  color: rgb(190, 91, 10, var(--tw-placeholder-opacity));
  border-width: 1px;
  border-color: #f3f4f6;
  font-size: 14px;
  line-height: 20px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-border-opacity: 1;
  border-color: #9ca3af;
  --tw-bg-opacity: 1;
  margin-bottom: 20px;
}

.signup_input {
  display: flex;
  height: 40px;
  width: 100%;
  border-radius: 6px;
  border-width: 1px;
  padding: 8px 12px 8px 12px;
  font-size: 14px;
  line-height: 20px;
  border-width: 0px;
  background-color: transparent;
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-width: 2px;
  /* cursor: not-allowed; */
  opacity: 0.5;

  color: #000000;
}
/* ::placeholder {
  color: rgb(122, 122, 122);
  opacity: 1; 
} */

.login_button {
  background-color: #ff5a1f;
  color: #000000;
  font-weight: 600;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 20px;
  letter-spacing: 0.025em;
  border-radius: 8px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  justify-content: center;
  outline: 2px solid transparent;
  outline-offset: 2px;
}


.login_button:hover
{
  background-color: #71b475 ;  
}

.forget_password {
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  align-self: center;
  font-size: 16px;
  display: block;
  margin-top: 10px;
  text-align: center;
}

.forget_password:hover {
  color: var(--orange);
}

.create_new_account {
  font-size: 16px;
  margin-top: 10px;
}

.ngo_Login {
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  align-self: center;
  /* font-size: 16px; */
  display: block;
}




/* Adopt Page: */
.adopt_signup_img
{
  background-repeat: no-repeat;
  object-fit: fill;

  background-size: 100% 900px;
}

.adopt_signup_main_div
{
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
  height: 50%;
  justify-self: center;
  align-self: center;
  color: #eaeffa;
  font-size: larger;
  font-weight: 500;
  /* background-color: white; */
  /* mix-blend-mode:luminosity; */
}
/* .adopt_signup_img
{
  
} */

.adopt_signup_head
{
  /* margin-left: auto;
  margin-right: auto;
  display: block;
  justify-self: center;
  align-self: center; */
  text-align: center;
  background-color: #eefcff;
  color:#000000;
  
}

.register_button
{margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60%;
  height: 98%;
  justify-self: center;
  align-self: center;
  /* opacity: 0; */
}

.cards {
  flex-direction: row;
}

/* footer css */

.footer {
  /* background-image: linear-gradient(
    to bottom,
    
    #f7e0cc,#f0bb89,#ee9849); */
  background-color: #000000;
  color: rgb(255, 255, 255);
  clear: both;
}
.footer_links {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
}

.footer_links:hover {
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  font-weight: 600;
  padding: 5px 5px 5px 5px;
}
.footer_icons {
  font-size: 25px;
}





/*Adopt page*/
.grid-container
  {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .grid-items
  {
    /* background-color: rgba(255, 255, 255, 0.8); */
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    /* font-size: 30px; */
    /* text-align: center; */
  }
  
  .adopt_grid_img
  {
   height: 58%;
   width: 100%; 
  }
  
 .know_more_button
 {
  line-height: 1;
    text-align: center;
    display: inline-block;
    padding: 16px 34px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    background: #fa524f;
    border-radius: 40px;
    letter-spacing: 0em;
    margin-top: 25px;
 }

                                    /* E-Learning Page */
  .elearning_a{
  color: blue;
  text-decoration: underline;
 }
 .elearning_heading_a{
  text-decoration: underline;
 }
 .elearning_heading_a:hover{
  color: blue;
 }

 * {
  box-sizing: border-box;
}
 .elearning_grid-container
  {
    display:grid;
    /* flex-direction: row; */
    width: fit-content;
    height: max-content;
    gap: 20px;
    grid-template-columns: auto auto ;

    margin-left: 10%;
    margin-right: 10%;
    /* margin-right: 20px; */
    margin-bottom: 20px;
    
  }
  @media (max-width: 800px) {
    .elearning_grid-container{
      grid-template-columns:100%;
      /* flex-direction: rows; */
    }
  }
  .elearning_grid-items
  {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin-bottom: 10px;

    /* font-size: 30px; */
    text-align: center;
    background-color: #faf3eb;
    /* height:inherit; */
    height: 100%;
  }
 .elearning_img
 {
  height: 300px;;
   width: 80%; 
   margin-left: auto;
   margin-right: auto;
 }
 .elearning_youtube{
  align-items: center;
  justify-content: center;
  margin-left: 16%;
  /* margin-right: 5%; */

 }
 .video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  /* align-items: center;
  align-self: center; */
}

.video-responsive iframe {
  border:1px solid #000000;
  left: 10px;
  top: 0;
  height: 80%;
  width: 80%;
  position: absolute;
  
  box-shadow: 2px 10px 10px 2px rgb(75, 70, 70);
  /* align-items: center;
  align-self: center; */
}

.contact-info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact-info p{
  width: 70%;
}


.ngo_menu_container
{
  background-color: rgba(189, 197, 192, 0.867);
  width: 100%;
}

.ngo_menu_ul
{
  display: block;
}
.ngo_menu_list
{background-color: rgba(255, 255, 255, 0.867);
  width: 100%;
  border-bottom: 1px solid white;
  /* border-top: 1px solid black; */
  /* border-right: 1px solid black; */
  align-items: center;
  color: rgb(0, 0, 0);
  font-size:larger;
  font-weight: bold;
  /* margin-bottom: 2px; */
  height:100px;
  line-height: 100px;
  margin-bottom: 10px;
 

}
.ngo_menu_list:hover
{
  
  background-color: #808285;
  

}
@media(max-width:800px){
  .ngo_menu_container
  {
      width: 100%;
  }
 
}

.ngo_Dash
{
  display: inline;
  align-items: center;
}
.ngo_table
{
  border: 1px solid black;
}
.td_head
{
  font-weight: 700;
  background-color: #bbbfc5;
}


.adoption-form
{
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
  height: 50%;
  justify-self: center;
  align-self: center;
  color: #000000;
  font-size: larger;
  font-weight: 500;
  /* background-color: white; */
  /* mix-blend-mode:luminosity; */
  

}
